html,
body,
#main {
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.playerContainer {
  height: 70vh;
}

.controlsContainer {
  position: relative;
  bottom: 110px;
  width: 600px;
  background: rgba(39, 39, 39, 0.98);
  border-radius: 10px;
  opacity: 0.8;
  transition: ease-in-out 0.4s;
  backdrop-filter: blur(4px);
}

.controlsContainerHidden {
  opacity: 0;
}

.player {
  flex: 1;
  min-height: 0;
}
.controls {
  display: flex;
  flex-direction: column;
  height: auto;

  opacity: 0.5;
  transform: 0.1s;
  align-items: center;
  justify-content: center;
}

.control:hover {
  background: #302e2d;
  border-radius: 5px;
}

.controls {
  opacity: 1;
}

.showTitle {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50px;
}

.showInfo {
  height: 23vh;
  overflow-y: scroll;
  padding: 15px;
}

.hideTitle {
  display: none;
}
