.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: var(--side-bar-color);
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: var(--font-color);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  -webkit-app-region: drag;
  opacity: 0.95;
  backdrop-filter: blur(3px);
}

.links {
  color: var(--font-color);
  flex: 0.3;
  display: flex;
  justify-content: flex-start;
}

.searchBox {
  display: flex;
  flex: 0.4;
  justify-content: center;
}

.searchBox input {
  width: 60%;
  -webkit-app-region: no-drag;
}

.searchInput {
  padding: 12px 24px;
  height: 8px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #d6d6d6;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #d6d6d6;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E"); */
  background-image: url('../images/search-icon.png');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
}

.searchInput:hover,
.searchInput:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #d6d6d6;
  border-radius: 0;
  background-position: 100% center;
}

.profile {
  width: 10%;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.windowOptions {
  width: 20%;
  flex: 0.3;
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.windowControl {
  height: 60px;
  width: 45px;
  border: none;
  background: none;
  color: var(--text-color);
}

.windowControl:hover {
  background: rgba(255, 255, 255, 0.2);
}

.windowClose:hover {
  background: red;
}

.windowControl:focus {
  outline: none;
}

ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 100%;
}

ul li {
  margin-right: 30px;
  -webkit-app-region: no-drag;
}

a {
  text-decoration: none;
  color: #d6d6d6;
}

a:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 0.1s;
  animation-name: fadein;
  animation-timing-function: ease-in-out;
}

.closeButton {
  position: fixed;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  color: white;
  font-size: 2em;
}

.closeButton:hover {
  cursor: pointer;
  color: #8e8e8e;
}

button {
  -webkit-app-region: no-drag;
}

@keyframes fadein {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 1000px) {
}
