# dependencies
/node_modules
.pnp
.pnp.js

# testing
/coverage

# production
build
dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*

media
dist
*.mkv