.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1100px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.pagination p {
  font-size: 1.1rem;
}

@media (max-width: 900px) {
  .container {
    width: 100%;
  }
}
