body {
	background: #888;
}

.nav-bar {
	width: 95%;
	height: auto;
	background: white;
	margin: auto;
	box-shadow: 0 0 10px #444;
	border-radius: 4px;
}

.nav-bar ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.nav-bar ul li {
	list-style: none;
}

.nav-bar ul li:hover {
	cursor: pointer;
}

.btn {
	background: #555;
	color: white;
	border-radius: 4px;
	margin: 10px;
	padding: 10px;
}

.btn:hover {
	cursor: pointer;
	box-shadow: 0 0 10px #444;
}

.container {
	margin: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.ep-box {
	width: 20%;
	height: auto;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 0 0 10px #444;
	padding: 20px;
	margin: 10px;
	background: white;
	text-align: center;
}

.ep-title {
	font-size: 1.2em;
	font-weight: bold;
}

@media (max-width: 450px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.ep-box {
		min-width: 80%;
		margin-top: 10px;
		height: auto;
	}
}
