.main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  transition: all ease-out 0.2s;
}

.card {
  width: 200px;
  margin: 20px;
  transition: all ease-out 0.2s;
}

.card:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.media {
  height: 250px;
}
